@use '../../shared/scss/base/variables' as v;
@use '../../shared/scss/base/mixins';

.newDrop {
	max-width: v.$header-width;
	padding-bottom: 50px;
	margin: 0 auto;
}

.newDropTop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;

	a {
		@include mixins.btn-main;

		&:hover {
			background-color: v.$color-ascent-yellow;
		}
	}
}

.title2 {
	@include mixins.title2(v.$color-dark);
	margin-bottom: 40px;
}

.secondSwiper {
	overflow: hidden;
	height: auto;
	height: 500px;
}

.swiperSlide a img {
	border-radius: 40px;
	margin-bottom: 16px;
	transition: v.$transition-base;
	position: relative;
}

.swiperSlide button:hover img {
	border-color: v.$color-gray-main;
}

.swiperSlide button::before {
	content: 'New';
	position: absolute;
	background-color: v.$color-ascent-blue;

	padding: 5px;
	border-radius: 25% 10%;
	pointer-events: none;
	top: 20px;
	left: 20px;
}

.desc {
	font-size: v.$fs24;
}

@media (max-width: 720px) {
	.secondSwiper {
		overflow: hidden;
		height: 350px;
	}

	.newDropTop {
		margin-bottom: 30px;
	}
	.title2 {
		font-size: 50px;
		margin-bottom: 0;
	}
}

@media (max-width: 430px) {


	.newDropTop {
		margin-bottom: 30px;
		a  {
			padding: 1rem;
		}
	}
	.title2 {
		font-size: 2rem;
		
	}
}
