@use '../../shared/scss/base/variables' as v;
@use '../../shared/scss/base/mixins';

.doIt {
	padding-bottom: 90px;
}

.title {
	font-family: v.$ffRubik;
	font-size: 14rem;
	text-wrap: nowrap;
	font-weight: 700;
	line-height: 265px;
	text-align: center;
	text-transform: uppercase;

	span {
		color: v.$color-ascent-blue;
	}
}

.firstSwiper {
	z-index: 10;
	position: relative;
	overflow: hidden;
	margin: 0 auto;

	max-width: 82.5rem;
	height: 51rem;

	border-radius: v.$br64;
}

.swiperSlide {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.mainSlide {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.miniSlide {
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom: 10px;
	right: 30px;
	gap: 5px;
}

.miniSlideImg {
	cursor: pointer;
	z-index: 10;

	width: 170px;
	height: 170px;
	opacity: 0.8;
	border-radius: v.$br28;
	margin-bottom: 20px;

	&:hover {
		opacity: 1;
	}
}

.sliderContent {
	z-index: 3;
	position: absolute;

	bottom: 460px;
	left: 50px;
	font-weight: 600;

	color: v.$color-white-255;

	h2 {
		font-size: 94px;
		line-height: 88px;
		color: white;
		margin-bottom: 10px;

		text-shadow: -2px -2px 0 rgb(211, 0, 244), -2px 2px 0 rgba(0, 0, 255, 1),
			2px -2px 0 rgba(0, 255, 0, 1), 2px 2px 0 rgba(255, 255, 0, 1);
	}

	p {
		font-family: v.$ffOpenSans;
		font-size: v.$fs24;
		line-height: v.$lh22;
		margin-bottom: 25px;
	}

	a {
		@include mixins.btn-main(14px 70px, v.$color-dark);
		&:hover {
			background-color: v.$color-ascent-yellow;
		}
	}
}

//  media

@media (max-width: 1280px) {
	.firstSwiper {
		max-width: 1230px;
	}
	.title {
		font-size: 12.5rem;
	}
}

@media (max-width: 1200px) {
	.firstSwiper {
		max-width: 1230px;
		max-height: 800px;
	}

	.miniSlide {
		bottom: 40px;
		right: 40px;
		gap: 5px;
	}


}
@media (max-width: 1115px) {
	.firstSwiper {
		max-width: 1230px;
		max-height: 725px;
	}

	.miniSlide {
		bottom: 40px;
		right: 40px;
		gap: 5px;
	}

	.title {
		font-size: 170px;
	}
}

@media (max-width: 1080px) {
	.firstSwiper {
		max-width: 1030px;
		max-height: 650px;
	}

	.mainSlide {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.miniSlide {
		bottom: 40px;
		right: 40px;
		gap: 5px;
	}

	.miniSlideImg {
		width: 130px;
		height: 130px;
		opacity: 0.8;
		border-radius: v.$br28;
		margin-bottom: 10px;
	}

	.sliderContent {
		bottom: 360px;

		h2 {
			font-size: 75px;
		}

		p {
			font-size: v.$fs16;
		}
	}

	.title {
		font-size: 170px;
	}
}


@media (max-width: 1080px) {
	.firstSwiper {
		max-width: 1030px;
		max-height: 515px;
	}

	.miniSlide {
		bottom: 30px;
		right: 30px;
		gap: 5px;
	}

	.sliderContent {
		bottom: 260px;

		h2 {
			font-size: 65px;
		}

		p {
			font-size: v.$fs16;
		}
	}

	.title {
		font-size: 8rem;
	}

	.doIt {
		padding-bottom: 30px;
	}

}

@media (max-width: 780px) {
	.firstSwiper {
		max-width: 730px;
		max-height: 475px;
	}

	.miniSlide {
		bottom: 30px;
		right: 30px;
		gap: 5px;
	}

	.sliderContent {
		bottom: 270px;

		h2 {
			font-size: 55px;
		}

		p {
			font-size: v.$fs16;
		}
	}

	.title {
		font-size: 7rem;
	}
}


@media (max-width: 720px) {
	.firstSwiper {
		max-width: 630px;
		max-height: 420px;
	}
	// .title {
	// 	font-size: 200px;
	// }

	.mainSlide {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.miniSlide {
		bottom: 20px;
		right: 20px;
		gap: 5px;
	}

	.miniSlideImg {
		width: 100px;
		height: 100px;
		opacity: 0.8;
		border-radius: v.$br28;
		margin-bottom: 6px;
	}

	.sliderContent {
		bottom: 200px;

		h2 {
			font-size: 45px;
			margin-bottom: 0px;
		}

		p {
			font-size: v.$fs14;
			margin-bottom: 15px;
		}

		a {
			@include mixins.btn-main(10px 25px, v.$color-dark);
		}
	}

	// .title {
	// 	font-size: 110px;
	// }

	.doIt {
		padding-bottom: 10px;
	}
}

@media (max-width: 430px) {
	.firstSwiper {
		max-width: 400px;
		max-height: 270px;
		border-radius: v.$br40;
	}
	.title {
		font-size: 4rem;
		line-height: 12rem;
	}

	.mainSlide {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.miniSlide {
		bottom: 20px;
		right: 20px;
		gap: 5px;
	}

	.miniSlideImg {
		width: 65px;
		height: 65px;
		opacity: 0.8;
		border-radius: v.$br28;
		margin-bottom: 6px;
	}

	.sliderContent {
		bottom: 130px;
		left: 20px;

		h2 {
			font-size: 35px;
			line-height: v.$lh38;
			// margin-bottom: 0px;
		}

		p {
			font-size: 0.7rem;
			max-width: 18rem;
			margin-bottom: 10px;
		}

		a {
			@include mixins.btn-main(5px 15px, v.$color-dark);
		}
	}

	.doIt {
		padding-bottom: 10px;
	}
}
