@use '../../scss/base/variables' as v;

.header {
	position: relative;
	width: 100%;

	transition: v.$transition-base;

	&.visible {
		opacity: 1;
		pointer-events: auto;
	}

	&.hidden {
		opacity: 0;
		pointer-events: auto;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		max-width: v.$header-width;
		border-radius: v.$br28;
		background-color: v.$color-white-255;
		padding: v.$p15;
		transition: background-color 0.3s ease;
	}

	&__logo {
		padding-right: 150px;
	}

	&__actions {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}

	&__cart {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: v.$color-ascent-yellow;
		width: v.$w37;
		height: v.$h37;
		border-radius: v.$br50;

		p {
			font-weight: 600;
			font-family: v.$ffOpenSans;
		}
	}

	&__user {
		display: flex;
		justify-content: center;
		align-items: center;
		background: transparent;
		width: v.$w37;
		height: v.$h37;
		margin-right: 10px;
		border-radius: v.$br50;
		transition: v.$transition-base;

		&:hover {
			background-color: v.$color-ascent-yellow;
		}
	}
}

.header__search {
	position: relative;
	display: inline-block;

	input[type='text'] {
		position: absolute;
		z-index: 1;
		border: none;
		outline: none;
		width: 40px;
		padding: 10px 40px 10px 10px;
		border-radius: 20px;
		transition: width 0.6s ease, padding 0.3s ease;
		font-size: 16px;
		right: 15px;
		top: -3px;
	}

	button[type='submit'] {
		cursor: pointer;
		position: relative;
		z-index: 2;
		background: none;
		border: none;
		padding: 5px;
		font-size: 16px;
		color: v.$color-dark;
		right: 20px;
		top: 50%;
		transition: v.$transition-base;
		border-radius: v.$br50;

		&:hover {
			background-color: v.$color-ascent-yellow;
		}
	}

	&:hover input[type='text'],
	input[type='text']:focus {
		width: 300px;
		background-color: v.$color-gray-light;
		padding: 10px 40px 10px 20px;
	}
}

// Класс sticky применяется, когда скролл превышает заданный порог
.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	margin-top: 10px;

	.header__top {
		background-color: rgba(75, 75, 75, 0.6);
	}
}

//Триггер-зона – прозрачный блок в верхней части экрана 
.headerTrigger {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: transparent;
	z-index: 900;
	pointer-events: auto;
}

@media (max-width: 1080px) {
	.header__logo {
		padding-right: 50px;
	}
}

