@use '../../shared/scss/base/variables' as v;
@use '../../shared/scss/base/mixins';

.reviews {
	max-width: v.$header-width;
	margin: 0 auto;
	margin-bottom: 100px;

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 50px;

		&_title {
			@include mixins.title2(v.$color-dark);
		}

		&_link {
			@include mixins.btn-main;

			&:hover {
				background-color: v.$color-ascent-yellow;
			}
		}
	}

	&__bottom {
		display: flex;
		gap: 15px;
	}
}

.reviews__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;
	overflow: hidden;

	height: 500px;
	width: 430px;

	color: v.$color-dark;
	background-color: v.$color-white-250;
	border-radius: v.$br28;

	&_left {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&_title {
		font-family: v.$ffRubik;
		font-size: v.$fs24;
		line-height: v.$lh28;
		font-weight: 600;
	}
	&_desc {
		font-family: v.$ffOpenSans;
		font-size: v.$fs16;
		line-height: v.$lh22;
		font-weight: 400;
		max-width: 300px;
	}

	&_avatar {
		height: 68px;
		width: 68px;
		border-radius: v.$br50;
		margin-bottom: 49px;
	}
}

.card_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 32px;
}

.card-bottom img {
	position: absolute;
	object-fit: cover;
	bottom: 0;
}

// Звезды
// .rating {
// 	display: inline-block;
// }

// .star {
// 	display: inline-block;
// 	cursor: pointer;

// 	background-image: url('../assets/images/stars.png');
// 	background-size: cover;
// 	background-color: transparent;

// 	width: 20px;
// 	height: 20px;
// }

// .star.selected {
// 	background-color: #fdd835;
// }

@media (max-width: 780px) {
	.reviews__top_title {
		font-size: 50px;
	}
	.reviews__card {
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		position: relative;
		overflow: hidden;

		height: 500px;
		width: 430px;

		color: v.$color-dark;
		background-color: v.$color-white-250;
		border-radius: v.$br28;

		&:last-child {
			display: none;
		}

		&_left {
			display: flex;
			gap: 10px;
		}

		&_title {
			font-size: v.$fs20;
			font-weight: 600;
		}
		&_desc {
			font-size: v.$fs16;
			font-weight: 300;
			max-width: 300px;
		}

		&_avatar {
			height: 48px;
			width: 48px;
			border-radius: v.$br50;
			margin-bottom: 49px;
		}
	}
}
@media (max-width: 720px) {
	.reviews__top_title {
		font-size: 50px;
	}
	.reviews__card {
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		position: relative;
		overflow: hidden;

		height: 500px;
		width: 430px;

		color: v.$color-dark;
		background-color: v.$color-white-250;
		border-radius: v.$br28;

		&_left {
			display: flex;
			gap: 10px;
		}

		&_title {
			font-size: v.$fs16;
			// line-height: v.$lh22;
			font-weight: 600;
		}
		&_desc {
			font-size: v.$fs14;
			font-weight: 300;
			max-width: 300px;
		}

		&_avatar {
			height: 38px;
			width: 38px;
			border-radius: v.$br50;
			margin-bottom: 49px;
		}
	}
}

@media (max-width: 430px) {
	.card_top {
		padding: 1rem;
	}
	.reviews__top_title {
		font-size: 2rem;
	}
	.reviews__card {
		max-height: 280px;
		border-radius: v.$br28;

		&_left {
			display: flex;
			gap: 10px;
		}

		&_title {
			font-size: v.$fs14;
			font-weight: 600;
		}
		&_desc {
			font-size: 0.8rem;
			font-weight: 300;
			max-width: 300px;
		}

		&_avatar {
			height: 32px;
			width: 32px;
			border-radius: v.$br50;
			margin-bottom: 65px;
			margin-left: auto;
		}
	}
}
