@use '../../shared/scss/base/variables' as v;

.mobileHeader {
	position: relative;
	padding: 10px;
	z-index: 1000;
	border-radius: 24px;
	background-color: v.$color-white-255;
	transition: all 0.5s ease;
	&.visible {
		opacity: 1;
		pointer-events: auto;
	}

	&.hidden {
		opacity: 0;
		pointer-events: auto;
	}

	&__top {
		display: flex;
		justify-content: space-around;
		align-items: center;

		&_burger {
			text-align: left;
			background: none;
			font-size: 45px;
			width: 100%;
			padding: 10px;
			border-radius: v.$br8;

			cursor: pointer;
		}

		&_search {
			margin-left: 30px;
			margin-right: 30px;
		}
	}
}

.header__cart {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: v.$color-ascent-yellow;
	width: v.$w37;
	height: v.$h37;
	border-radius: v.$br50;

	p {
		font-weight: 600;
		font-family: v.$ffOpenSans;
	}
}

.menuButton {
	cursor: pointer;
	background: none;
	// border: none;
	font-size: 20px;
	padding: 5px;
}

.menu {
	position: absolute;
	display: flex;

	top: 100%;
	left: 0;
	width: 100%;

	background-color: transparent;
	backdrop-filter: blur(10px);
	border: 1px solid #ccc;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 10;
	padding: 10px;
	flex-direction: column;
	border-radius: 12px;
	gap: 5px;
}

.menuLink {
	display: block;
	padding: 5px;
	font-size: 30px;
	text-decoration: none;
	color: black;
	border-bottom: 1px solid #eee;
}

.menuButton {
	display: block;
	text-align: left;
	font-size: 30px;
	padding: 5px;

	&:hover {
		background-color: v.$color-ascent-yellow;
		border-radius: 8px;
	}
}

// Класс sticky применяется, когда скролл превышает заданный порог
.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	// margin-top: 10px;

	.header__top {
		background-color: rgba(75, 75, 75, 0.6);
	}
}

//Триггер-зона – прозрачный блок в верхней части экрана
.headerTrigger {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: transparent;
	z-index: 900;
	pointer-events: auto;
}

@media (max-width: 800px) {
	.mobileHeader {
		border-radius: 0px;
	}

	.menu {
		border-radius: 0px;
	}
}
