@use '../../scss/base/variables' as v;
@use '../../scss/base/mixins';

.wrapper {
	position: relative;
}

.swiperWrapper a img {
	border: 8px solid white;
	
	border-radius: 40px;
	margin-bottom: 16px;
	transition: v.$transition-base;
	position: relative;
}

.swiperWrapper a:hover img {
	border-color: v.$color-gray-main;
}

.swiperWrapper a::before {
	content: 'New';
	position: absolute;
	background-color: v.$color-ascent-blue;

	padding: 5px;
	border-radius: 25% 10%;
	pointer-events: none;
	top: 20px;
	left: 20px;
}

.titleCard {
	font-size: v.$fs20;
	text-align: center;
	margin-bottom: 16px;
}

.desc {
	font-size: v.$fs14;
	text-align: center;
	margin-bottom: 12px;
}

.btnBox {
	display: flex;
	gap: 5px;
	max-width: 316px;
}

.sliderBtn {
	@include mixins.btn-main(14px 30px, v.$color-dark);

	&:first-child {
		flex: 1;
		margin-right: auto;
	}
}

.sliderBtn:hover {
	background-color: v.$color-ascent-yellow;
}
