// .filter__form {
// 	&_size {
// 		display: flex;
// 		flex-direction: column;
// 		cursor: pointer;
// 		gap: 10px;
// 		font-size: 20px;

// 		ul {
// 			display: flex;
// 			gap: 10px;

// 			li {
// 				text-align: center;
// 				cursor: pointer;
// 				background-color: white;
// 				width: 50px;
// 				height: 50px;
// 				border-radius: 8px;
// 				&:hover {
// 					opacity: 0.8;
// 				}
// 			}
// 		}
// 	}
// }

@use '../../shared/scss/base/variables' as v;
@use '../../shared/scss/base/mixins';

.form__size {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	font-size: 20px;
	&_title {
		@include mixins.sideBarTitle;

		&:hover {
			color: v.$color-ascent-yellow;
		}
	}

	&_list {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.6s ease;

		&.open {
			max-height: 110px;
		}

		li {
			text-align: center;
			cursor: pointer;
			background-color: white;
			width: 50px;
			height: 50px;
			border-radius: 8px;
			
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.arrow {
	@include mixins.sideBarArrow;
}
