@use '../../../shared/scss/base/variables' as v;

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 16px;
}

.pagination__button {
	cursor: pointer;
	color: v.$color-white-255;
  transition: v.$transition-base;
	background-color: v.$color-dark;
	border-radius: v.$br8;
  
	padding: 8px 12px;
	margin: 0 8px;

  &:not(:disabled):hover {
		background-color: v.$color-ascent-yellow;
	}
}

.pagination__button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.pagination__input {
	width: 100px;
	text-align: center;
	padding: 8px;
	margin: 0 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
