@use '../../shared/scss/base/variables' as v;
@use '../../shared/scss/base/mixins';

.categories {
	display: flex;
	justify-content: center;
	overflow: hidden;
	position: relative;
	// height: 100vh;

	background-color: v.$color-dark;
	// border-radius: v.$br64;
	padding-bottom: 150px;
	margin-bottom: 20px;
}

.title2 {
	@include mixins.title2;
	padding-top: 90px;
	padding-bottom: 60px;
}

.firstThird {
	overflow: hidden;
	max-width: 85rem;

	.swiperWrapper {
		.swiperSlide {
			position: relative;
			height: 650px;
		}
	}
}

.slideContent {
	img {
		border-radius: v.$br64;
	}

	&Title {
		position: absolute;
		font-size: v.$fs40;
		bottom: 40px;
		margin-left: 60px;
	}

	&Link {
		display: grid;
		place-content: center;
		position: absolute;

		bottom: 30px;
		right: 100px;

		width: 55px;
		height: 55px;

		border-radius: v.$br8;
		background-color: v.$color-dark;
		transition: v.$transition-base;

		&:hover {
			background-color: v.$color-ascent-yellow;
		}
	}
}

.swiperSlideBr:first-child {
	border-top-left-radius: v.$br64;
	overflow: hidden;
	transition: all 2s ease;
}

.swiperNavigation {
	display: flex;
	position: absolute;
	justify-content: center;
	z-index: 10;

	gap: 15px;

	top: 100px;
	right: -560px;
	width: 100%;
}

.customButtonPrev,
.customButtonNext {
	display: grid;
	place-content: center;
	cursor: pointer;

	font-size: v.$fs30;
	border-radius: v.$br8;
	background-color: v.$color-gray-light;
	color: v.$color-dark;
	transition: v.$transition-base;
	border: none;

	width: 55px;
	height: 55px;

	&:hover {
		background-color: v.$color-gray-main;
	}
}

@media (max-width: 780px) {
	.firstThird {
		max-width: 680px;
	}

	.slideContent {
		img {
			border-radius: v.$br64;
		}

		&Title {
			font-size: v.$fs30;
			bottom: 40px;
			margin-left: 40px;
		}

		&Link {
			bottom: 45px;
			right: 30px;

			width: 35px;
			height: 35px;
		}
	}

	.title2 {
		font-size: 50px;
	}

	.customButtonPrev,
	.customButtonNext {
		font-size: v.$fs30;
		width: 45px;
		height: 45px;
	}
	.swiperNavigation {
		top: 85px;
		right: 100px;
	}
}
@media (max-width: 720px) {
	.firstThird {
		max-width: 620px;
	}

	.slideContent {
		img {
			border-radius: v.$br64;
		}

		&Title {
			font-size: v.$fs30;
			bottom: 40px;
			margin-left: 40px;
		}

		&Link {
			bottom: 45px;
			right: 30px;

			width: 35px;
			height: 35px;
		}
	}

	.title2 {
		font-size: 50px;
	}

	.customButtonPrev,
	.customButtonNext {
		font-size: v.$fs30;
		width: 45px;
		height: 45px;
	}
	.swiperNavigation {
		top: 85px;
		right: 100px;
	}
}

@media (max-width: 430px) {
	.categories {
		border-radius: v.$br28;
	}
	.firstThird {
		max-width: 430px;
	}
	.slideContent {
		img {
			border-radius: v.$br28;
			max-width: 12rem;
		}

		&Title {
			font-size: v.$fs16;
			bottom: 1rem;
			margin-left: 40px;
		}

		&Link {
			bottom: 1rem;
			right: 1.7rem;

			width: 25px;
			height: 25px;
		}
	}

	.title2 {
		font-size: 2rem;
		margin-left: 1rem;
		padding-top: 3rem;
	}

	.customButtonPrev,
	.customButtonNext {
		font-size: v.$fs30;
		width: 35px;
		height: 35px;
	}
	.swiperNavigation {
		top: 43px;
		right: 40px;
	}
}
